@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './colors.module.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $secondary-color;

  p {
    margin: 0;
  }
}
