@import '../../../../../styles/colors.module.scss';

.textAreaEncryptor {
  resize: none;
  border: 0 none;
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 1.2rem;

  &:focus {
    outline: none;
  }
}
