.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.caption {
  display: flex;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  gap: 1.5rem;

  button {
    width: 15rem;
  }
}

@media (max-width: 768px) {
  .caption {
    font-size: 1rem;
  }

  .buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    flex-wrap: nowrap;

    button {
      width: 100%;
    }
  }
}

@media (max-width: 425px) {
  .buttons {
    flex-wrap: wrap;
    button {
      width: 25rem;
    }
  }
}

@media (max-width: 320px) {
  .caption {
    font-size: 0.875rem;
  }
}
