@import '../../../../styles/colors.module.scss';

.footer {
  flex-basis: auto;
  padding: 0.3rem;
  text-align: center;
  background-color: $primary-color;
  color: $white-color;
  font-size: 0.98rem;
}
