.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .caption {
    display: flex;
    gap: 0.5rem;
  }

  .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

    button {
      width: 15rem;
    }
  }
}
